# Скопируйте в .env.prod рядом с docker-compose.prod.yml
# Не коммитьте .env.prod в git!

# Яндекс.Метрика — запекается в образ при сборке CI
# Указывать в GitHub Secrets (не здесь)
NUXT_PUBLIC_YANDEX_COUNTER_ID=
